<header>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >HOME</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >CONTACT</a
        >
      </li>
    </ul>
  </nav>
  <div>
    <button id="btnUser" type="button">
      <i class="fa-solid fa-user"></i>
    </button>
    <form id="userForm">
      <div class="group">
        <div id="lblAuthState" class="authlabel"></div>
      </div>
      <button id="btnLogout" type="button" class="button buttonBlue">
        Log out
      </button>
    </form>
  </div>
</header>
