<header>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >HOME</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >CONTACT</a
        >
      </li>
    </ul>
  </nav>
  <div>
    <button id="btnUser" type="button" (click)="toggleProfileVisibility()">
      <i class="fa-solid fa-user"></i>
    </button>
    <div *ngIf="this.profileIsVisible && user">
      <form id="userForm">
        <div class="group">
          <div id="lblAuthState" class="authlabel">
            You're logged in as {{ user.displayName }} uid: {{ user.uid }},
            email:
            {{ user.email }}
          </div>
        </div>
        <button
          id="btnLogout"
          type="button"
          class="button buttonBlue"
          (click)="logout()"
        >
          Log out
        </button>
      </form>
    </div>
    <div *ngIf="this.profileIsVisible && !user"><app-login></app-login></div>
  </div>
</header>
